{% extends 'webexample/base.html' %}


{% block title  %}
Delete Book "{{book.name}}"
{% endblock %}


{% block content %}
  <form action = "{{book.get_delete_url}}" method="POST">
    {% csrf_token %}
      <div class="card" style="width: 18rem; margin-left:665px;margin-top:200px">
      <div class="card-body">
    <h5 class="card-title">Delete "{{book.name}}"</h5>
    <p class="card-text">Are you sure want to delete this book?</p>
    <a class="btn btn-primary" href="{% url 'books_list_url' %}" role="button">Cancel</a>
    <button type="submit" name = "button" class = "btn btn-danger">Delete</button>
  </div>
</div>
</form>
{% endblock %}

{% block footer %}
{% endblock %}
