{% extends 'webexample/base.html' %}

{% block title  %}
BookShop
{% endblock %}

{% block navb %}
  <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="height:50px;width:200px">LOGIN</a>
{% endblock %}

{% block content %}
<div style= "margin-top:100px; margin-left:400px; margin-right:400px; margin-bottom:265px;"  class="jumbotron">
<p style = "font-size:36px" class="display-4">Choose book that appeals to you, order it to your home and enjoy reading</p>
<hr class="my-4">
<a style = "font-size:35px" class="btn btn-primary btn-lg btn-block" href="#" role="button">LOG IN</a>
</div>
{% endblock %}

{% block footer %}
<footer style = "background-color:white; height: 70px;" class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a>Serhii Kruk IBook Shop</a>
  </div>
</footer>
{% endblock %}
